<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Pack & Go - 404</title>
    <meta charset="UTF-8">
    <meta name="description" content="Pack & Go - Magazin online de rucsacuri">
    <meta name="author" content="Antonio Bigan">
    <meta name="keywords" content="Pack & Go, Home, Rucsacuri, Calatorii, Istoric, Motivatie, Promotii">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/png/shortcut.png">
    <link rel="stylesheet" type="text/css" href="/css/large.css">
    <link rel="stylesheet" type="text/css" href="/css/404large.css">
    <link rel="stylesheet" type="text/css" href="/css/middle.css" media="screen and (max-width:900px)">
    <link rel="stylesheet" type="text/css" href="/css/small.css" media="screen and (max-width:500px)">
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
    <script src="/js/general.js"></script>
</head>

<body>
    <%- include('../pieces/header')  %>
    <main>
        <section>
            <figure>
                <img id="img1" src="/png/404.png" alt="Eroare">
                <h2>Pagina pe care o cauti nu exista.</h2>
            </figure>
        </section>
    </main>
    <%- include('../pieces/footer')  %>
</body>

</html>