<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Pack & Go - Home</title>
    <meta charset="UTF-8">
    <meta name="description" content="Pack & Go - Magazin online de rucsacuri">
    <meta name="author" content="Antonio Bigan">
    <meta name="keywords" content="Pack & Go, Home, Rucsacuri, Calatorii, Istoric, Motivatie, Promotii">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/png/shortcut.png">
    <link rel="stylesheet" type="text/css" href="/css/large.css">
    <link rel="stylesheet" type="text/css" href="/css/indexlarge.css">
    <link rel="stylesheet" type="text/css" href="/css/middle.css" media="screen and (max-width:900px)">
    <link rel="stylesheet" type="text/css" href="/css/indexmiddle.css" media="screen and (max-width:900px)">
    <link rel="stylesheet" type="text/css" href="/css/small.css" media="screen and (max-width:500px)">
    <link rel="stylesheet" type="text/css" href="/css/indexsmall.css" media="screen and (max-width:500px)">
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
    <script src="/js/general.js"></script>
</head>

<body>
    <%- include('../pieces/header')  %>
    <main>
        <section>
            <a class="link" id="1"></a>
            <h2>Istoric</h2>
            <p>Pack & Go a luat nastere in <time datetime="2016">2016</time> in urma unei calatorii prin Europa.</p>
            <aside id="aside1">
                <figure>
                    <img id="img1" src="/png/calatorie.png" alt="Importanta rucsacurilor" title="Calatorie prin europa">
                    <figcaption>
                        O poza din calatoria prin Europa
                    </figcaption>
                </figure>
            </aside>
        </section>
        <section>
            <a class="link" id="2"></a>
            <h2>Motivatie</h2>
            <p>
                Atunci cand calatoresti, nevoia de depozitare ajunge pe primul loc. Schimband mai multe rucsacuri pe parcursul unei calatorii, am decis sa infiintez acest magazin online pentru a usura procesul de cautare a unui rucsac ce indeplineste nevoile fiecaruia.
            </p>
        </section>
        <section>
            <a class="link" id="3"></a>
            <h2>Promotii</h2>
            <p>
                <strong>Primavara asta calatoresti alaturi de <i>Trekkers</i> cu reduceri 
                    <math>
                        <mrow>
                            <mo>&gt;</mo><mn>15</mn><mo>%</mo>
                        </mrow>
                    </math> 
                    la toate produsele.</strong>
                <small>(promotie valabila petru produsele de minim 50&#8364;, in limita stocului disponibil)</small>
            </p>
        </section>
    </main>
    <%- include('../pieces/footer')  %>
</body>

</html>