aside#aside1 {
    overflow: hidden;
    padding: 0;
    animation: aside 10s linear infinite alternate;
    box-shadow: 0 10px 10px black;
}

aside#aside1>figure>figcaption {
    text-align: center;
}

aside#aside1 img {
    width: 140%;
}

@keyframes aside {
    0% {
        right: 0;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        top: 125px;
    }
    50% {
        right: 0;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        top: 100%;
    }
    100% {
        left: 0;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        top: 125px;
    }
}

strong {
    background: linear-gradient(45deg, lime, indigo 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}